* { 
    box-sizing: border-box;
}

body {
    
    margin: 0%;
    padding: 0%;
    background-color: blue;
    
}
.altura1 {
    height: 80%;
    background-color: blueviolet;
}

.altura2 {

    height: 180px;
    background-color: black;
    
}

.altura3 {
    height: 180px;
    background-color: blueviolet;

}